server:
  port: ${PORT}
spring:
  sql:
    init:
      mode: always
  config:
    import: optional:file:.env.dev[.properties]
  application:
    name: auth-service
  datasource:
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
  liquibase:
    change-log: classpath:changelog/db.changelog-master.xml
    default-schema: ${DEFAULT_SCHEMA}
    liquibase-schema: ${LIQUIBASE_SCHEMA}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: auth-service-group
      auto-offset-reset: earliest
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
kafka:
  topics:
    email-sending: ${KAFKA_TOPIC_EMAIL_SENDING:email-sending-topic}
    user-info: ${KAFKA_TOPIC_USER_INFO:user-info-topic}
    task-notification: ${KAFKA_TOPIC_TASK_NOTIFICATION:task-notification-topic}